@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Web
@using Radzen
@using Radzen.Blazor

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@SidebarToggle" />
            <RadzenLabel Text="Genetic Programming Playground" Style="font-size: 1.5rem; font-weight: bold; color: white;" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @ref="sidebar" @bind-Expanded="sidebarExpanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Dashboard" Icon="dashboard" Path="/" />
            <RadzenPanelMenuItem Text="Experiments" Icon="science" Path="/experiments" />
            <RadzenPanelMenuItem Text="Compare Results" Icon="compare_arrows" Path="/compare" />
            <RadzenPanelMenuItem Text="Datasets" Icon="storage" Path="/datasets" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

@code {
    RadzenSidebar sidebar = null!;
    bool sidebarExpanded = true;

    void SidebarToggle()
    {
        sidebarExpanded = !sidebarExpanded;
    }
}
